.title{color: crimson}
.list{color: brown;}
.interesting{color: navy}
.source{
  color: seagreen;
  font-size: 12px
}
.i{font-style: italic;}
h3{
 font-weight: bold;
 color: teal;
}
a{ font-size: 17px}